<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <title>SimplyTurn</title>
</head>
<body>
    <nav>
        <div class="nav-container">
            <a href="/" class="nav-link">SimplyTurn</a>
            <ul>
                <li><p class="nav-btn"><%= name %></p></li>
                <li><a href="/logout" class="nav-btn">Logout</a></li>
            </ul>
        </div>
    </nav>
    <main class="container">
        <div id="editor">
            <p>Hello World!</p>
            <p>Some initial <strong>bold</strong> text</p>
            <p><br></p>
        </div>
        <div style="display: flex;">
            <input type="hidden" name="post" value="<%= data.content %>" id="load-post">
            <form action="/delete" method="POST">
                <input type="hidden" name="postId" value="<%= data._id %>">
                <input type="Submit" value="Delete" class="red-btn">
            </form>
            <form action="/edit" method="POST">
                <input type="hidden" name="postUpdate" value="" id="post">
                <input type="hidden" name="postId" value="<%= data._id %>">
                <input type="Submit" value="Save" class="green-btn">
            </form>
        </div>
    </main>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="/js/edit.js"></script>
</body>
</html>