<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>SimplyTurn</title>
</head>
<body class="bg-img">
    <nav>
        <div class="nav-container">
            <a href="/" class="nav-link">SimplyTurn</a>
            <ul>
                <li><a href="/login" class="nav-btn">Log In</a></li>
                <li><a href="/signupChoice" class="nav-btn">Sign Up</a></li>
            </ul>
        </div>
    </nav>
    <main class="container">
        <div class="heading">
            <p class="title">SimplyTurn</p>
            <p class="subtitle">Welcome to online classroom, share posts and connect with teachers</p>
        </div>
        <div>
            <a href="/login" class="black-btn round-pad-btn">Log In</a>
            <a href="/signupChoice" class="black-btn round-pad-btn">Sign Up</a>
        </div>
    </main>
</body>
</html>