<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>SimplyTurn</title>
</head>
<body>
    <nav>
        <div class="nav-container">
            <a href="/" class="nav-link">SimplyTurn</a>
        </div>
    </nav>
    <main class="container">
        <div class="heading">
            <p class="title">Sign Up as Student or Teacher</p>
        </div>
        <div>
            <a href="/signup?option=Student" class="black-btn round-pad-btn">Student</a>
            <a href="/signup?option=Teacher" class="black-btn round-pad-btn">Teacher</a>
        </div>
    </main>
</body>
</html>